{% extends "guitarApp/base.html" %}
{% load static %}

{% block banner %}

{% endblock %}
{% block maincontent  %}
<!-- contact-us -->
	<div class="">
		<div class="container">

			<div class="contact-info">
				<form action="#" method="post">
					{% csrf_token %}
					<input type="text" name="Name" placeholder="Your Name" required>
					<input type="text" name="Email" placeholder="Your Email" required>
					<input type="text" name="Subject" placeholder="Subject" required>
					<textarea placeholder="Your Message" name="Message" required></textarea>
					<input type="submit" value="SEND MESSAGE">
				</form>
			</div>
		</div>
	</div>




	<!-- Address -->

		<div class="">
			<h3 class="tittle">ADDRESS</h3>
			<div class="border"></div>


			
				<div class="container">
					<div style="margin:  58px 77px;">
		<!-- 				<div class="col-md-4 contact-grid text-center">
							<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
							<p><a href="mail-to:example@mail.com">Email : example@mail.com</a></p>
						</div> -->
						<div class="col-md-12 contact-grid text-center">
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<h4 style="color: #34495E">#8,2nd Floor, Tupe Residency, Thube  Park Beside Sancheti  Hospital, Behind Nexa Showroom Shivaji Nagar, Pune-411005</h4>
						</div>
	<!-- 					<div class="col-md-4 contact-grid text-center">
							<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
							<p>Telephone : +613 0000 0000</p>
						</div> -->
						
					</div><br><br>

		</div>



<!-- /Address -->


	<!-- Map -->
	<div id="contact" class="contact">
		<div class="container">
			<h3 class="tittle">Contact</h3>
			<div class="border"></div>
		</div>
		<div class="map">
		</div>
<iframe src="https://www.google.com/maps/dir//sagveek+technologies+pune+hours/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3bc2c137227b15af:0xdb7a283d612f9701?sa=X&ved=2ahUKEwjwqZW81KH0AhWRXCsKHV3DB3cQ9Rd6BAhPEAU" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
<!-- /map -->

{% endblock  %}